<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Boldklub | <%=title%></title>
 <link rel="icon" type="image/x-icon" href="https://iconarchive.com/download/i107760/google/noto-emoji-activities/52730-soccer-ball.ico">
 <!-- public mappen er assumed pga express.static i app.js... -->
 <link rel="stylesheet" href="styles/styles.css">
 <script src="js/adduser.js"></script>
</head>