<nav>
 <div class="site-title">
  <a href="/"><h1>Boldklubben</h1></a>
  <p>Boldklub for alle aldre</p>
 </div>
 <ul>
  <li><a href="/">Forside</a></li>
  <li><a href="/kontakt">Kontakt</a></li>
  <li><a href="/kontingent">Kontingent</a></li>
  <li><a href="/aktiviteter">Aktiviteter</a></li>
 </ul>
</nav>