<html>

 <%- include('./partials/head.ejs') %>

 <body>

  <%- include('./partials/nav.ejs') %>

  <div class="aktiviteter">
   <h2>Aktiviteter</h2>
    <p>Hvis man tilmelder sig fodbold eller cricket, så vil man deltage på et hold.
     Hvis man tilmelder sig tennis eller squash, så kan man booke baner. Det koster ikke ekstra.
     Til disse aktiviteter vil der også være tilbud om undervisning.</p>
    </br>
    <h3>Fodbold: tekst...</h3>
    <div class="images">
     <img src="https://media.lex.dk/media/28762/standard_compressed_fodbold.jpg" alt="fodbold">
     <img src="https://www.dbufyn.dk/media/16113/pe8a5726.jpg" alt="fodbold">
    </div>
    </br>
    <h3>Tennis: tekst...</h3>
    <div class="images">
     <img src="https://www.bevaegdigforlivet.dk/media/8500/10760.jpg" alt="tennis">
     <img src="https://lyngbytennis.dk/wp-content/uploads/2021/06/Traening.web-1-of-1.jpg" alt="tennis">
    </div>
    </br>
    <h3>Squash: tekst...</h3>
    <div class="images">
    <img src="https://s.hdnux.com/photos/01/23/37/73/21888754/3/rawImage.jpg" alt="squash">
    <img src="https://fly.namesbee.com/storage/2022/05/Squash-Club-Names.jpg" alt="squash">
    
    </div>
    </br>
    <h3>Cricket: tekst...</h3>
    <div class="images">
    <img src="https://cricket.dk/wp-content/uploads/T50KBSVA201.jpg" alt="cricket">
    <img src="https://bkfrem.dk/wp-content/uploads/2022/07/2022-Frems-foedselsdag-1278x719.jpg" alt="cricket">
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>

 </body>
</html>