<html>

 <%- include('./partials/head.ejs') %>

 <body>

  <%- include('./partials/nav.ejs') %>

  <div>
   <h2>Velkommen til Boldklubben</h2>
     <h3>Vi tilbyder forskellige sportsgrene for alle aldre.</h3>
     <p>Du skal være medlem for at deltage. Kontakt os for at blive medlem. Medlemskontingentet er 800 kr. pr. år, hvis du er fyldt 18 år, og 400 kr. pr. år hvis du er under
      18. Du kan læse om de forskellige sportsgrene og priser ved at bruge menuen.</p>
  </div>

 <%- include('./partials/footer.ejs') %>

 </body>
</html>