<html>

 <%- include('./partials/head.ejs') %>

 <body>

  <%- include('./partials/nav.ejs') %>

  <div class="Kontingent">
   <h2>Kontingentinformation</h2>
    <table>
     <tr>
      <th>Aktivitet</th>
      <th>Pris pr. år</th>
     </tr>
     <tr>
      <td>Fodbold</td>
      <td>1000 kr.</td>
     </tr>
     <tr>
      <td>Tennis</td>
      <td>1000 kr.</td>
     </tr>
     <tr>
      <td>Squash</td>
      <td>1000 kr.</td>
     </tr>
     <tr>
      <td>Cricket</td>
      <td>1000 kr.</td>
     </tr>
    </table>
  </div>

  <%- include('./partials/footer.ejs') %>

 </body>
</html>