<html>

 <%- include('./partials/head.ejs') %>

 <body>

  <%- include('./partials/nav.ejs') %>

  <div class="Kontaktinformationer">
   <h2>Kontaktinformationer</h2>
    <h3>Kontakt os på telefon tirs-lør mellem 10 og 16.</h3>
    <p>Telefon: 11223344</p>
    <p>Email: info@boldklubben.dk</p>
    <p>Adresse: Rullevej 33, 1000 Boldby</p>
  </div>

  <%- include('./partials/footer.ejs') %>

 </body>
</html>